<link rel="stylesheet" type="text/css" href="./public/css/home.css">
<script src="./public/js/home.js"></script>

<div class="container">
	<h1>Handlebars Scrape</h1>
	<h3 class="text-center">2017-2018 NBA Team Stats</h3>
	<div>
		<table class="table">
			<thead>
				<tr>
					<th>#</th>
					<th>Team</th>
					<th>Team PPG</th>
				</tr>
			</thead>
			<tbody>
				{{#if stats}}
					{{#each stats}}
						<tr>
							{{!-- Look for 'inc' in the helpers --}}
							<td>{{inc @index}}</td>
							<td>{{this.team}}</td>
							<td>{{this.ppg}}</td>
						</tr>
					{{/each}}
				{{else}}
					<tr>
						<td>boo</td>
						<td>hoo</td>
						<td>queue</td>
					<tr>
				{{/if}}
			</tbody>
		</table>
	</div>
</div>